//-extends layout
doctype html
html
  head
    title=title
    //-style.
      body {
        font-family: Verdana;
        font-size:13px;
        background: #eee;
      }

      h1, h2, h3 { font-size: 22px; color: #000080; }
      h2 { font-size: 18px; }
      h3 { font-size: 14px; }

      a { color: #C2575B; text-decoration: none; }
      a:hover { color: #F76F76; }
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
    link(rel='stylesheet', href='/public/css/broadn.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/jstree/dist/jstree.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //-script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    //-script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    script(src='/bower_components/Flot/jquery.flot.js')
    script(src='/bower_components/Flot/jquery.flot.crosshair.js')
    script(src='/bower_components/Flot/jquery.flot.selection.js')
    script(src='/bower_components/flot-axislabels/jquery.flot.axislabels.js')
    script(type ='text/x-mathjax-config') MathJax.Hub.Config ({TeX:{equationNumbers:{autoNumber:"AMS"},tex2jax:{inlineMath:[['$','$'], ['\\(','\\)']]}}});
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
    //-link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')



    //- style
      h3 { color:red; }
      h2 { color:red; }
      h1 { color:red; }
      //-fieldset { border:1px solid green; }
      //-legend { padding: 0.2em 0.5em;
        | border:1px solid green;
        | color:green;
        | font-size:90%;
        | text-align:right;
        | }
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            //-tehdään neljä päällekkäistä viivaa kun nav-bar menee liian kapeaksi
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //-a.navbar-brand(href='/') Project name
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Services
                b.caret
              ul.dropdown-menu
                li
                  a(href='/') Home
                  //- use: #{user.username} to show the username
                if user!=null
                  li
                    a(id='lokoutti', href='/Logout') Logout
                  li
                    a(href='/pwdEdit') Change pwd
                else
                  li
                    a(id='loginni', href='/login') Login
                  li
                    a(href='/signup') Signup
            li.dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Broadenings
                b.caret
              ul.dropdown-menu
                li
                  a(href='/broadgeneral') Generally
                li
                  a(href='/inhomo') Inhomogeneously
                li
                  a(href='/homo') Homogeneously
                //-li
                  a(href='/GasFlo') Gas flow in circular pipes (under construction)
                //-li
                  a(href='/tabX') Testing document ready function
            li.dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Modelling
                b.caret
              ul.dropdown-menu
                li
                  a(href='/quantumwell') Quantum well interactions
                li
                  a(href='/elvspl') El- and Pl-Spectra
                li
                  a(href='/calcspec') Spectrum calculator
          //-a.navbar-brand(href='/') Projects
        //-gets messages from req.flash set in app.js
    if messages
      .container
        if messages && messages.error
          .alert.alert-danger
            div= messages.error
        if messages && messages.info
          .alert.alert-info
            div= messages.info
        if messages && messages.success
          .alert.alert-success
            div= messages.success
        //h2= title
        p
        if user
          b #{user.username}
          | : huu haa!
        else
          b No login user
          //-| Used open source and MIT-licenced software components can be found in the lists below. Please notice also their composers through the included links.
        //h3 Motivation and Purpose:
        block levenee
//-script(type='text/javascript').