//-extends layout
doctype html
html
  head
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Spectral broadening simulator for LED's")
    meta(name="keywords" content="Lorentzian broadening, Gaussian broadening, Voigt function, Homogeneous" +
    " broadening, Inhomogeneous broadening, Urbach broadening, product of Lorentzians, non-Markovian relaxation," +
    "quantum well spectrum")
    meta(name="author" content="Juha Viljanen")
    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='/scripts/jquery-ui/jquery-ui.min.js')
    script(src='/scripts/jstree/dist/jstree.min.js')
    script(src='/scripts/bootstrap/dist/js/bootstrap.min.js')
    script(src="/scripts/bootstrap-touchspin/src/jquery.bootstrap-touchspin.js")
    //-script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    script(src='/scripts/Flot/jquery.flot.js')
    //-script(src='/bower_components/Flot/jquery.flot.crosshair.js')
    //-script(src='/bower_components/Flot/jquery.flot.selection.js')
    script(src='/scripts/Flot/jquery.flot.canvas.js')
    script(src='/scripts/jqnotifybar/jquery.notifyBar.js')
    script(src='/scripts/flot-axislabels/jquery.flot.axislabels.js')
    script(type ='text/x-mathjax-config')
    //MathJax.Hub.Config ({TeX:{equationNumbers:{autoNumber:"AMS"},tex2jax:{inlineMath:[['$','$'], ['\\(','\\)']]}}});
    //script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
    //script(type="text/javascript" async)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML")
    script(src='/jvscripts/js/jv-fileopsit.min.js')
    script(src='/jvscripts/js/fft_libry.js')
    link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/scripts/bootstrap-touchspin/src/jquery.bootstrap-touchspin.css', type='text/css', media='all')
    link(rel='stylesheet', href='/scripts/jquery-ui/themes/start/jquery-ui.min.css')
    link(rel='stylesheet', href='/scripts/jqnotifybar/css/jquery.notifyBar.css')
    link(rel='stylesheet', href='/scripts/jstree/dist/themes/default/style.min.css')

  body
    div.navbar-inverse(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            //-tehdään neljä päällekkäistä viivaa kun nav-bar menee liian kapeaksi
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              //-a(href='#' class='dropdown-toggle navbar-custom' data-toggle='dropdown') Services
              a(href='#' data-toggle='dropdown') Services
                b.caret
              ul.dropdown-menu
                li
                  a(href='/') Home
                if user!=null
                  li
                    a(id='lokoutti', href='/Logout') Logout
                  li
                    a(href='/pwdEdit') Change pwd
                else
                  li
                    a(id='loginni', href='/login') Login
                  li
                    a(href='/signup') Signup
            li.dropdown
              a(href='#' data-toggle='dropdown') Broadenings
                b.caret
              ul.dropdown-menu
                li
                  a(href='/broadgeneral') General remarks
                li
                  a(href='/inhomogen') Inhomogeneously
                li
                  a(href='/homogen') Homogeneously
                li
                  a(href='/SpectralModel' class='huuhaa-text') Spectral modelling
            li.dropdown
              a(href='#' id='userN' data-toggle='dropdown') No login
                b.caret
              ul.dropdown-menu
                li
                  a(id='lokoutti2', href='/Logout') Logout
        //-gets messages from req.flash set in appi.js
    if messages
      div.container
        if messages && messages.error
          div.alert.alert-danger
            div= messages.error
        if messages && messages.info
          div.alert.alert-info
            div= messages.info
        if messages && messages.success
          div.alert.alert-success
            div= messages.success
        //h2= title
        //-p
        //-if user
          b #{user.username}
          | : huu haa!
        //-else
          b No login user
          //-| Used open source and MIT-licenced software components can be found in the lists below. Please notice also their composers through the included links.
        //h3 Motivation and Purpose:

        //-lisätään jonkun valikon HTML5 sivuista:
        //-sisennys määrää marginaalin leveyden
      block levenee

  style(type = "text/css").
    body {
      /*padding-top: 25px;*/
      padding-left: 0px;
      margin-left: 20px;
      margin-right:20px;
      font-family: Verdana;
      font-size: 13px;
      background-color: #eee;
    }

    /*tekee kapean näkymän nappulan oranssiksi*/
    .navbar-toggle, .icon-bar {
      border: 1px solid orange;
    }

    .navbar-inverse {
      color: darkred;
      background-color: lavender;
      font-weight: bold;
      font-size: 14px;
      color: white;
    }

    .navbar-fixed-top {
      min-height: 25px;
    }

    .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 25px;
    }

  script(type='text/javascript').
    //for google analytics:
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
        },
         i[r].l = 1 * new Date();
         a = s.createElement(o),
         m = s.getElementsByTagName(o)[0];
         a.async = 1;
         a.src = g;
         m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-97032034-1', 'auto');
    ga('send', 'pageview');

    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {autoNumber: "AMS"},
        tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
      }
    });

    var tokenee = window.sessionStorage.getItem('RTFtoken');
    var userLuser = window.sessionStorage.getItem('RTFuser');
    if (userLuser == null || userLuser == 'No login' || userLuser == 'No Login') {
      $('#userN').text('No login');
      $("#lokoutti2").css('display', 'none');
    } else {
      $('#userN').text('User: ' + userLuser);
      $("#lokoutti2").css('display', 'inline');
    }
    $('#lokoutti, #lokoutti2').click(function () {
      window.sessionStorage.setItem('RTFuser', 'No login');
      window.sessionStorage.setItem('RTFtoken', null);
      $('#userN').text('No login');
      $("#lokoutti2").css('display', 'none');
      //class="disabled"
    });
