extends broaden
block levenee
    h3(style="color:Brown") Homogeneous broadening in qw diodes
    h4(style="color:Green") Homogeneous and inhomogeneous effects
    | Both effects typically coexist in the spectra, but under specific conditions they are also observed
    | separately. A classic example on the coexistence and concurrence is the spectral broadening in gases.
    | At low pressures, the velocity distribution of atoms produces Doppler
    | shifts to the photons and the emission spectrum has Gaussian shape from the thermal velocity distribution
    | of the emitting gas atoms. Since the emitters are not identical, but have a Gaussian energy distribution, the
    | Doppler effect produces inhomogeneous broadening.
    | However, when the pressure is increased the gas atoms collide more frequently with each other. Collisions interrupt
    | the photonic relaxation in the emission process (and excitation in the optical absorption process).
    | This sets on the impact broadening effect, which is also known as the lifetime broadening. With increasing
    | pressures, the spectral shape first follows the Voigt function, a convolution between the original
    | Gaussian line and the Lorentzian line of the impact broadening. At even higher pressures, the line still broadens
    | and becomes purely Lorentzian in shape obscuring totally the original Gaussian broadening. Since all gas atoms have
    | similar collision probabilities, the population behaviour has turned from inhomogeneous (Gaussian) to
    | homogeneous (Lorentzian).
    br
    | With increasing LED current, the same phenomenon takes place in the qw-diode spectrum, but
    | with other characteristic inhomogeneous and homogeneous broadening functions.
    h4(style="color:Green") Homogeneous shape
    | Homogeneous shape describes the relaxation in a population of identical and mutually independent (=homogeneous)
    | emitters. Population members are regarded identical, if they have equal transition energies and equal radiation
    | (relaxation) probabilities.
    br
    | Assuming \(N\) is the number of such population members, the relaxation rate and emission behaviour can be
    | expressed as:
    | \begin{equation}
    | \label{HomogDiffe1}
    | -dN/dt=N\cdot p(t)=N\cdot(A+B\cdot t+C\cdot t^2...),
    | \end{equation}
    | where \(p(t)\) is the relaxation probability in unit time and is expressed as a polynomial expansion of the
    | time variable. Separating the variables results into:
    | \begin{equation}
    | \label{HomogDiffe2}
    | -dN/N=A\cdot dt +(B\cdot t+C\cdot t^2+...)\cdot dt,
    | \end{equation}
    | where, polynomial components grouped inside the parenthetis are problematic, while a zero instance is needed for
    | the time variable and the elapsed time should be recorded throughout the entire relaxation. Including these
    | components, the homogeneity assumption requires that all population members start relaxing simultaneously and
    | individually record the elapsed time. In other words in a memoryless relaxation process (with
    -var Markov_urli="https://en.wikipedia.org/wiki/Markov_property"
    a(href=Markov_urli target="_blank")    Markov property
    |   ) we have: \(B=C=D.....=0\), meaning the relaxation probability, \(p(t)\) is a constant in time and the
    | bookkeeping for elapsed time is not required. Assuming \(N=N_{0}\) at \(t=t_{0}\), we get after integration:
    | \begin{equation}
    | \label{HomogDiffe3}
    | ln(N)=-A\cdot (t-t_{0}) + ln(N_{0}),
    | \end{equation}
    | where \(ln(N_{0})\) is a constant of integration. Setting: \(A=1/\tau\) , results into a
    -var memoryless_urli="https://en.wikipedia.org/wiki/Memorylessness"
    a(href=memoryless_urli target="_blank")     memoryless,
    -var expdistr_urli="https://en.wikipedia.org/wiki/Exponential_distribution"
    a(href=expdistr_urli target="_blank")      exponential
    |   time distribution:
    | \begin{equation}
    | \label{HomogDiffe4}
    | N(t)=N_{0}\cdot e^{-t/\tau},
    | \end{equation}
    | where \(\tau\) is the relaxation time and \(t_{0}\) was taken as \(0\) (zero).
    br
    | Normally, more than one physical phenomenon participates in the relaxation. Without no other mechanisms, the
    -var Spontan_urli="https://en.wikipedia.org/wiki/Spontaneous_emission"
    a(href=Spontan_urli target="_blank")   spontaneous emission
    |   (transitions stimulated by
    -var zerop_urli="https://en.wikipedia.org/wiki/Zero-point_energy"
    a(href=zerop_urli target="_blank")   zero point energy
    |   fluctuations) determines the relaxation rate.
    | With several independent mechanisms the resulting relaxation time is obtained as:
    | \begin{equation}
    | \label{HomogDiffe5}
    | 1/\tau_{r}= 1/\tau_{1}+1/\tau_{2}+.... ~,
    | \end{equation}
    | In the former example of impact pressure broadening, \(\tau_{1}\) could equal the spontaneous emission lifetime
    | and \(\tau_{2}\) the atomic collision lifetime.
    br
    | The spectral shape for the homogeneous energy broadening is now obtained by
    -var Fourier_urli="https://en.wikipedia.org/wiki/Fourier_transform"
    a(href=Fourier_urli target="_blank")    Fourier transforming
    |         the time decay in
    | Eq. (\ref{HomogDiffe4}) and leads into
    -var Lorentzian_urli="http://mathworld.wolfram.com/LorentzianFunction.html"
    a(href=Lorentzian_urli target="_blank")    Lorentzian function
    |    :
    | \begin{equation}
    | \label{HomogDiffe6}
    | I(\Delta E)=\frac{\tau_{r}/(\pi\hbar)}{1+\tau_{r}^{2}\Delta E^{2}/\hbar^{2}}~,
    | \end{equation}
    | where \(\Delta E\) is the photon energy deviation from the emission line center. This function integrates to
    | unity (\(\Delta E: -\infty \rightarrow +\infty\)) and if it originates from spontaneous emission, the
    | line shape is known as the
    -var NB_urli="https://en.wikipedia.org/wiki/Spectral_line"
    a(href=NB_urli target="_blank")    natural broadening.
    h4(style="color:Green") Does homogeneous broadening always produce Lorentzian line shapes?
    | The above derivation seems to suggest that homogeneously broadened lines should always have Lorentzian shapes,
    | but at least one contradicting example is known to exist in the lifetime broadening of qw-LED's.
    | There, the physical situation extensively resembles that of the impact pressure broadening in gases, the
    | photon emission process being interrupted by the gas atom collisions on each other.
    | In quantum well diodes, both the electrons and holes face mutual collisions resulting into life time broadenings
    | in their energy states.
    p(style="text-indent:20px;") However, if the electron hole pair is examined as a single entity (a bound exciton)
      | before the recombination, one ends up to a single relaxation event (exiton annuling), which can be described
      | by combining the electron and hole relaxation times according to Eq. (\ref{HomogDiffe5}). One then obtains the
      | spectrum from Eq. (\ref{HomogDiffe6}), which poorly fits the observed quantum well diode spectra (in
      b    Fig.1
      |    overlaps the observed spectra approximately for half an intensity decade). The high density of the current
      | injected charge carriers in the quantum well and the high electric field in the pn-junction area effectively
      | screen the bound exciton formation and eliminate related spectral peaks. Correspondingly, the LED-spectrum
      | comes mainly out from the e-h recombination in the exciton plasma inside the quantum well.
    -var PL_urli="https://en.wikipedia.org/wiki/Photoluminescence"
    -var QCSE_urli="https://en.wikipedia.org/wiki/Quantum-confined_Stark_effect"
    p(style="text-indent:20px;") The pn-junction electric field is reduced significantly in the photovoltaic mode with
      | the LED in open circuit condition, resulting into a nearly flat band state in the pn-junction area. In the
      | qw-emission spectrum, this eliminates the spectral shift towards lower energies arising from the quantum
      | confined stark effect
      a(href=QCSE_urli target="_blank")  (QCSE)
      |   . Likewise, often the PL-spectrum
      a(href=PL_urli target="_blank")    (photoluminescence)
      |    shows more details than the normal electric current excited LED-spectrum.
    br
    br
    center
      figure
        img(src="/jvscripts/images/viuhka-1.png" width="537" height="400" alt="Quantum well spectra with diode current" +
        "as a parameter and one Lorentzian simulation")
        figcaption
          b Fig.1.
          |   Luminescence spectra of a qw LD. (Diode current as a parameter and horizontal scale in eV)
          br
          | The best fitting Lorentzian simulation with \(\tau_{r}\)=65fs is included in the dotted curve.
    br
    | In
    b   Fig.1.
    |   with increasing diode currents, homogeneous lifetime broadening takes over spreading the spectrum
    | more and more on the low energy side. If we stick to the 'before recombination defined exciton entity'
    | and want to improve the spectral fitting from the homogeneous Lorentzian shape, it is necessary to abandon the
    | Markov property in the eh-pair relaxation. This would complicate the recombination models significantly.
    -var convolve_urli="https://en.wikipedia.org/wiki/Convolution"
    -var hombroadUrli="http://epjb.epj.org/articles/epjb/abs/2013/05/b120957/b120957.html"
    p(style="text-indent:20px;") Fortunately, a much simpler solution is available. Keeping the simplest possible
      | relaxation models in Eq. (\ref{HomogDiffe4}) we have Lorentzian life-time broadening for all energy states
      | in the conduction and valence bands. If k-vector conservation is not included in the recombination, the
      | resulting emission spectrum is obtained by
      a(href=convolve_urli target="_blank")    convolving
      |      the electron and hole energy Lorentzians. This would result into a new, but broader Lorentzian shape with a
      | \(\tau_{r}\) value as earlier obtained in the 'exciton entity model' by summing the electron and hole
      | relaxation times in Eq. (\ref{HomogDiffe5}). However, the k-vector (impulse) of the emitted photon is small.
      | Therefore, k-vector conservation (\(k_{e}=k_{h}\)) has to be included in the e-h recombination. This couples
      | the electron and hole Lorentzians together and the resulting spectrum, instead of convolution, is a
      a(href=hombroadUrli target="_blank")    product of two Lorentzian functions (LxL):
    | \begin{equation}
    | L_{t}(\Delta E)= \frac{(\tau_{be}+\tau_{bh})/(\pi\hbar)}{1+\tau_{be}^{2}\Delta E^{2}/\hbar^{2}}\times\frac{1}
    | {1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}\label{DLorentz}~,
    | \end{equation}
    | Like Eq. (\ref{HomogDiffe6}) also this function integrates to unity, and can as well be expressed as a
    | difference of two Lorentzians, (L-L):
    | \begin{align}
    | L_{t}(\Delta E)=\frac{1}{\pi\hbar\cdot(\tau_{bh}-\tau_{be})}
    | \times \Big(\frac{\tau_{bh}^{2}}{1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}-
    | \frac{\tau_{be}^{2}}{1+\tau_{be}^{2}\Delta E^{2}/\hbar^{2}}\Big)\label{DLorentz2}~,
    | \end{align}
    | where
    | \begin{equation}
    | \tau_{be}=\frac{\tau_{e}m_{h}}{m_{h}+m_{e}} \quad\textrm{and}\quad\tau_{bh}=\frac{\tau_{h}m_{e}}{m_{h}+m_{e}}
    | \label{Reducedtau}
    | \end{equation}
    h4(style="color:Green") Calculation of homogeneous qw-spectra
    | In the
    -var modelling="/spectralmodel"
    a(href=modelling)     simulator,
    |       the first graph is for inhomogeneous and the second for homogeneous broadening mechanisms. If no
    | broadening function is selected for the first graph, the second graph simulates merely the homogeneous
    | effects. Otherwise, the second graph displays a combination of inhomogeneous and homogeneous broadening
    | functions. e.g. if Gaussian is selected in the first graph and Lorentzian in the second with the
    -var voigtUrli="https://en.wikipedia.org/wiki/Voigt_profile"
    | convolution option,
    a(href=voigtUrli target="_blank")    Voigt
    |    function will be displayed in the second graph.

    h4(id='vilkku') Best fitting broadening function for LED's
    -var inhomspe="/inhomogen"
    p(style="text-indent:20px;") Since Gaussian is not the correct inhomogeneous and Lorentzian not the
      | correct homogeneous function, Voigt function is not relevant for broadening studies in qw-LED's.
      | Based on the above review and the discussion on the
      a(href=inhomspe)     inhomogeneously page
      |      , my conclusion for the best viable LED broadening function is the
      span(style="font-weight:bold;")  convolution between the Urbach and the LxL functions.
      |  [Eq.(1) on the inhomogeneously page convolved
      | with Eq.(\ref{DLorentz}) or Eq.(\ref{DLorentz2}) on this page].
    p(style="text-indent:20px;") In the simulator, this
      span(style="color:red; font-weight:bold;")  new broadening function
      |      also yields the best results, often resulting into almost ideal spectral fittings on
      | experimental LED-spectral data.

    h4(style="color:Green") Calculation methods
    | Two sequential convolution integrals are necessary to calculate the spectrum, if it includes both the
    | inhomogeneous and homogeneous broadening effects. Also, a reasonable number (e.g. 1000) spectral points are
    | needed to make smooth spectral graphs. Therefore, it is reasonable to optimize the convolution evaluations.
    | This is possible by applying the convolution theorem in the Fourier transformation. The convolved functions
    | are first Fourier transformed. After pointwise multiplying the transforms, the convolved spectrum is finally
    | obtained by the inverse Fourier transform of the product.
    br
    | Fortunately handy
    -var fftUrli="https://en.wikipedia.org/wiki/Fast_Fourier_transform"
    a(href=fftUrli target="_blank")    FFT
    |       (Fast Fourier Transform)
    -var DSP_urli="https://github.com/corbanbrook/dsp.js/"
    a(href=DSP_urli target="_blank")    DSP packages
    |       are available for javascript. Using FFT, convolutions can be performed almost 'in real time' on
    | the simulations web page.
    br
    p(style="text-indent:20px;")
      | By changing the JDOS in the model, it is possible to calculate broadening graphs for bulk
      | materials as well. However, the experimental observation of homogeneously broadened bulk semiconductor
      | PL-spectra is utterly difficult because the charge carrier densities required for lifetime broadening
      | cannot be achieved in bulk material volumes without qw like lateral charge carrier confinements.

    script(type="text/javascript").
      var xu=false;
      setInterval(function () {
          if (xu) {
              $('#vilkku').css('color', 'Red');
              xu=false;
          } else {
              $('#vilkku').css('color', "Green");
              xu=true;
          }
      },500);
