//-Created by Juha on 3/6/2016
extends broaden
block levenee
    h2 Modelling the spectral broadening in semiconductor light emitting diodes
    h4(style='margin-left:50px;')
      a(href='#otherHeader' style="font-style:italic;") (Want to apply this simulator with other emitter types?)
    p(id='otherText') To use this simulator with spectral line emitters, activate only the Boltzman distribution item
      | in the simulation selector. Then set the temperature parameter (T) to zero (0).
      | Using both simulation graphs (homogeneous and inhomogeneous) it is possible to examine several
      | combined, Voigt function like, broadening spectra.
    h3(style="color:Brown") Motivation and Purpose:
    p
    | Light emitting diodes (LED's) and laser diodes (LD's) have rapidly gained amazing popularity in many applications,
    | often because of their high power efficiency, but equally also for their robustness, reliability and technological
    | flexibility in tailoring into a myriad of different purposes. Applications ranging from multimedia displays, telecom
    | transmitters, high power lasers and normal LED light bulbs make LED's the most influential light source of our time.
    b(style="color:brown;")     Yet, the spectral shape of their light output is not well understood, especially, the broadening in the spectral tails
    |        on both sides of the spectral peaks.
    br
    | For their unbeatable properties LED's are usually constructed with one or more quantum wells in the diode's pn
    | junction. There, the quantum wells concentrate the charge carriers to tightly confined regions dramatically increasing the
    -var eh_pair_urli="https://en.wikipedia.org/wiki/Carrier_generation_and_recombination"
    a(href=eh_pair_urli target="_blank")   electron hole pair
    |      density and recombination probability. Each recombining electron hole pair may produce
    | an emitted photon and contribute to the emission of light from the diode. The photon energy (
    span(style="font-weight:bold") wavelength
    | ) roughly equals the bandgap of the emitting material layer, but in oder to accurately describe the conversion of
    | consumed electric power into a flux of photons, we additionally need a detailed understanding also on the
    -var lineshape_urli="https://en.wikipedia.org/wiki/Spectral_line_shape"
    a(href=lineshape_urli target="_blank")   broadening
    |      mechanisms hidden in the spectra of emitted photons.
    //-b
        em    broadening
    //-|    mechanisms hidden in the spectra of emitted photons.
    br
    br
    b
        i  Emission wavelength
    |   (the spectral color) is determined by the semiconductor material bandgap in combination
    | with the dimensions (depth and width) of the included
    -var qw_urli="http://www-ee.stanford.edu/~dabm/181.pdf"
    a(href=qw_urli target="_blank")   quantum well(s).
    |      These three parameters are tailored in the
    | material deposition processes during the fabrication. Emitted photons typically have energies close to the
    -var bandgap_urli="https://en.wikipedia.org/wiki/Band_gap"
    a(href=bandgap_urli target="_blank")   bandgap
    |      value, and the quantum well structure significantly reduces the photon reabsorption risk in the
    | surrounding host materials.
    br
    br
    | Typical emission spectra are rather broad in LED's (also in LD's below the lazing threshold),
    | at least significantly broader than evaluated before the broadening mechanisms are accounted for.
    | A correct spectral broadening function is required also for semiconductor laser modelling and gain spectra
    | calculations. Several alternative functions have been proposed for qw LED and LD calculations.
    | This site examines many of them, and also several combined functions can be plotted and compared against
    | experimental spectra.
    br
    | Optical broadening mechanisms are often categorized to be either
    b
        em   inhomogeneous
    |   or
    b
        em   homogeneous.
    |   With LED's, a description bottleneck exists in the spectral dependency on diode current.
    | Diode spectra typically broaden with increasing current (before the onset of stimulated emission) and
    | in well defined diodes, this feature has sought for explanations. Because the emitted photons are particles without
    | rest mass they carry very small momentum (\(p=h/\lambda\)) compared to electrons (\(p_{e}=m_{e}v_{e}\)) and holes
    | (\(p_{h}=m_{h}v_{h}\)) moving with thermal velocity distributions inside the quantum wells.
    | The conservation of energy and linear momentum are required for the e-h pair recombination and it is generally assumed
    | that only pairs with zero or very small linear momentum participate in the process, which makes the active exciton
    | populations homogeneous at the available transition energies. However, the resulting spectral lines do not show the
    | Lorentzian line shapes as expected and characteristic for homogeneous relaxations and as are discussed here
    | using the analogy to lifetime broadening in gases.
    h3(style="color:Brown") Applied methods:
    p
    |In order to focus on spectral modelling, the number of clarifying drawings remains small, which possibly decreases
    | the readability, but hopefully is compensated by links to elsewhere on the web. Another drawback against the fluency
    | is the mathematical formulas and equations that, however, are more or less unavoidable. For equations on HTML5 pages,
    | several options are available claiming to support equally all browsers.
    -var MathJax_urli="https://www.mathjax.org/"
    a(href=MathJax_urli target="_blank")   MathJax
    //a(href="https://www.mathjax.org/" target="_blank")   MathJax
    |       was selected for this page, though it requires available internet access to render correcly.
    | Another choise, rendering maths also on locally loaded pages, could have been the
    -var FireMath_urli="http://www.firemath.info/"
    a(href=FireMath_urli target="_blank")  FireMath
    |       plugin in the Firefox browser. However, MathJax was found easier, since it enables the direct writing of
    | math in Latex style, with numerous supporting web pages.
    h3(style="color:Brown") Compared spectral functions:
    h4(style="color:Indigo") Inhomogeneous shapes:
    b Asymmetric Urbach function:
    br
    | \(L_{ih}(\epsilon)=\frac{1}{2}(1-sgn(E_{f}-\epsilon))\cdot\exp[-(E_{f}-\epsilon)/E_{u}]\quad\),
    br
    | where \(E_{f}\) is the Urbach focus energy and \(E_{u}\quad\) the broadening width parameter.
    br
    br
    b Symmetric Urbach function:
    br
    | \(L_{ih}(\epsilon)=\exp[-|E_{f}-\epsilon|/E_{u}]\quad\),
    br
    br
    b Gaussian function:
    br
    | \(\ L_{ih}(\Delta E)=\frac{1}{\sigma\sqrt{2\pi}}exp(-\frac{\Delta E^{2}}{2\sigma^{2}})\quad\),
    br
    | where \(\sigma\) is the width parameter and \(\Delta E\quad\) energy deviation
    | from line center.
    br
    br
    b Fourier transform of the time relaxation as:
    br
    | \(p(t)=Sech^{n}(\frac{t}{\tau \times n})\)
    br
    | Spectral distributions and the necessary convolution kernels are calculated through FFT. This function was ad hoc
    | given to explain the photoluminescence deviations from the Lorentzian shapes that can be obtained also from this relaxation
    | when parameter \(n\) approaches 0 (zero). With other parameter values this function
    | requires non-Markovian time relaxations and is here grouped among the inhomogeneous spectra.
    br
    h4(style="color:Indigo") Homogeneous shapes:
    b Lorentzian function:
    br
    | \(\ L_{t}(\Delta E)=\frac{\tau_{r}/(\pi\hbar)}{1+\tau_{r}^{2}\Delta E^{2}/\hbar^{2}}\quad\),
    br
    | where \(\tau_{r}\) is the reduced relaxation time for the electron hole pairs in the population.
    br
    br
    b Product of (two) Lorentzian functions:
    br
    | \(\ L_{t}(\Delta E)= \frac{(\tau_{be}+\tau_{bh})/(\pi\hbar)}{1+\tau_{be}^{2}
    | \Delta E^{2}/\hbar^{2}}\times\frac{1}
    | {1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}\quad\),
    br
    | where \(\tau_{be}\) and \(\tau_{bh}\) are broadening related relaxation times for the
    | electrons and holes respectively. This function arises from the k-vector conservation in
    | the e-h pair recombination.

    h3(style="color:Brown") Calculation details:
    h4(style="color:Indigo") User options:
    | For a usefull application, users desire possibilities to upload spectral measurement data,
    | methods to adjust spectral parameters and to compare broadening functions by graphing measured
    | and calculated spectra.
    br
    | All these properties are available, but only visual comparison between experimental and calculated spectra is presently available.
    h4(style="color:Indigo") Starting point:
    | To get the spectral intensity distribution for the electron hole pair recombination,
    | it is a common practice to start from Fermi's golden rule.
    -var SpontEm_urli="http://home.itp.ac.ru/~ssver/teaching/Lasers/literature/Coldren%20LA,%20Corzine%20SW,%20Masanovic%20MI%20-%20Diode%20lasers%20and%20photonic%20integrated%20circuits.pdf"
    a(href=SpontEm_urli target="_blank")   Spontaneous emission intensity
    |   (photon rate X energy) without spectral broadening and Coulomb interactions
    -var exciton_urli="https://en.wikipedia.org/wiki/Exciton"
    a(href=exciton_urli target="_blank")   (excitons)
    |   can be expressed for e-h pair interband recombination as:

    |\begin{align}
    |R_{sp}(E)=\frac{ne^{2}}{\epsilon_{0}\hbar^{2}\pi c^3m_{0}^2}|M_{T}|^2 \cdot E\rho_{r}(E)f_{c}(E)
    |\times(1-f_{v}(E))\label{Rsp1}\ ~,
    |\end{align}

    | where n is the refractive index and \(|M_{T}|^{2}\) the transition matrix element. The terms
    | before the multiplication dot are assumed as constant throughout the broadening evaluation energy range.
    | \(\rho_{r}(E)\) is the reduced density of states (JDOS). \(f_{c}\) and \(f_{v}\) are the energy state
    | occupation Fermi functions for the conduction band (CB) electrons and valence band (VB) holes,
    | respectively. To evaluate spectral distributions with Coulomb interactions and broadening effects,
    | Eq. (\ref{Rsp1}) is multiplied with exciton continuum enhancement \(S(\epsilon)\), and convolved with the
    | line broadening function \(L_{t}(E)\). The discrete exciton energy spectra and the quasi continuum
    | are neglected because we are mainly interested in excitons locating inside diode pn-junction areas having
    | high internal electric fields.
    | Approximating \(f_{c}\times (1-f_{v})\) with Boltzmann distribution we get the emission spectra from the
    | convolution integral:

    |\begin{align}
    |R_{sp}(E)\propto\int_0^\infty \epsilon\rho_{r}(\epsilon)S(\epsilon)exp(-\epsilon/k_{B}T)
    |\times L_{t}(E-\epsilon)\mathrm{d}\epsilon\label{Rsp2}\ ~,
    |\end{align}

    br
    | where \(k_{B}\) is the Boltzmann coefficient.
    h4(style="color:Indigo") Exciton enhancement:
    | Spectral exciton peaks are observed generally observed only in special cases e.g at cryogenic
    | temperatures. Therefore, they and their quasi continuum are skipped in the following calculations,
    | including only the exciton true continua. For bulk materials it is given by the Elliot formulas:
    | \begin{align}
    | S_{s}(E)=&\pi\alpha\frac{e^{\pi\alpha}}{sinh(\pi\alpha)}\label{BulkEnh1}\\
    | \alpha=&\sqrt{\frac{E_{b}}{E-E_{g}}}\label{BulkEnh2}\
    | \end{align}
    | Here \(E_{b}\) is the exciton binding energy (a material parameter) and Eq. (\ref{BulkEnh2}) has a pole
    | at \(E_{g}\) coinciding with zero in JDOS (\(\rho_{r}\) in Eq. (\ref{Rsp2})), hence the combination
    | with parabolic band edge in bulk semiconductors, (\(\rho_{r}\propto \sqrt{E-E{g}}\))
    | leads to finite spectral power densities enabling the numerical integration of Eq. (\ref{Rsp2}).
    br
    | Unfortunately, the formulation for the exciton continuum is considerably more complicated with quantum
    | well excitons (quasi-2D case). Only tedious approximations and numerical solutions are available
    | including quantum well width and electron and hole barrier heights as parameters. Therefore,
    | the derivation for 2-D excitons in hypothetical ideal 2-D (or extremely anisotropic) semiconductors
    | has often been used as a starting point. Even in this case the analysis will be more complicated,
    | while we now also need to consider the examination angle in respect to the quantum well. The two
    | supreme directions are: Perpendicular to and parallel with the quantum well. In 2-D analysis
    | for the perpendicular viewing direction it is enough to include only the TE-polarization for the
    | emitted photons the photon electric field vector being parallel with the 2-D exciton plane.
    | For the qw-parallel direction, we also need to include the TM-polarization having major electric
    | field component perpendicular to the qw-plane. In the ideal 2-D material model, there are no electron
    | wave vector component perpendicular to the 2-D excitons, and the exciton enhancement is obtained
    | through the k-p perturbation method for transitions where the
    | \( \langle c | \mathbf{\varepsilon} \cdot \textbf{p} |v\rangle \) vanishes (c and v being the
    | conduction and valence band functions, \(\mathbf{\varepsilon}\) the polarization vector and
    | \(\textbf{p}\) the electron momentum operator respectively.) The results are:
    | \begin{align}
    | S_{TE}(E)=&\frac{e^{\pi\alpha}}{cosh(\pi\alpha)}\label{QwEnh1}\\
    | S_{TM}(E)=&(1+4\alpha^{2})\frac{e^{\pi\alpha}}{cosh(\pi\alpha)}\label{QwEnh2}\ ~,
    | \end{align}
    | where \(\alpha\) is given in Eq. (\ref{BulkEnh2}).
    br
    br
    | Eq. (\ref{QwEnh1}) would be applicable for the viewing direction along qw-normal and for the
    | TE-polarization on the qw-plane directions. Eq. (\ref{QwEnh2}) on the other hand would be needed
    | only for the TM-polarization on the qw-plane (pn-junction plane in qw-diodes).
    | The derivation for these two equations has at least two profound short comings, if applied for
    | real quantum wells ('quasi 2-D structures'). The k-p perturbation method does not include the band
    | degeneracy and the electron wave vector has a component along the qw-normal direction.
    | Also the application in calculations is problematic for real quantum wells. If one uses \(E_{t}\)
    | (the difference between the lowest electron qw energy level and the highest hole qw energy level)
    | as the \(E_{g}\) in Eq. (\ref{BulkEnh2}), since it is the lowest possible exciton energy in the
    | exciton continuum, Eq. (\ref{QwEnh2}) results in infinite values and the qw JDOS is not zero at
    | \(E_{t}\), but has there a Heaviside step point. It has been commented that also Eq. (\ref{QwEnh1})
    | overestimates the exciton enhancement in real quantum wells. However, it may also have a wrong
    | spectral shape. To avoid the infinity values and obtain an improved spectral shape
    | for the TM enhancement, we without a profound physical analysis take a pragmatic approach
    | and apply a small energy bias in Eq. (\ref{BulkEnh2}).
    | This is done by using energy \(E_{qw}\) for the \(E_{g}\) in Eq. (\ref{BulkEnh2}).
    | If \(E_{qw}=E_{t}-E_{0}\), the infinities in exciton enhancement are avoided, since the qw density of states
    | \(\rho_{r}(\epsilon)\) still has the Heaviside step at \(E_{t}\) and the spectral shape in
    | \(S(\epsilon)\) can be fine tuned with \(E_{0}\), named as shape parameter on the modelling page of
    | this project.

    script(type='text/javascript').
      var otherHeader=$('a[href = "#otherHeader"]');
      var otherText=$('#otherText');
      otherText.css('display', 'none'); //initially not visible
      otherHeader.click(function () {//click toggles visible
        var stats= (otherText.css('display')=='none')? 'inline': 'none';
        otherText.css('display', stats);
      });
