//-extends layout
doctype html
html
  head
    title=title
    //-meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/jstree/dist/jstree.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="/bower_components/bootstrap-touchspin/src/jquery.bootstrap-touchspin.js")
    //-script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    script(src='/bower_components/Flot/jquery.flot.js')
    //-script(src='/bower_components/Flot/jquery.flot.crosshair.js')
    //-script(src='/bower_components/Flot/jquery.flot.selection.js')
    script(src='/bower_components/Flot/jquery.flot.canvas.js')
    script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    script(src='/bower_components/flot-axislabels/jquery.flot.axislabels.js')
    script(type ='text/x-mathjax-config')
    //MathJax.Hub.Config ({TeX:{equationNumbers:{autoNumber:"AMS"},tex2jax:{inlineMath:[['$','$'], ['\\(','\\)']]}}});
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
    script(src='/public/js/jv-fileopsit.js')
    script(src='/public/js/fft_libry.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-touchspin/src/jquery.bootstrap-touchspin.css', type='text/css', media='all')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
    //link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')
    link(rel='stylesheet', href='/bower_components/jstree/dist/themes/default/style.min.css')
    //link(rel='stylesheet', href='/public/css/broadn.css')

  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            //-tehdään neljä päällekkäistä viivaa kun nav-bar menee liian kapeaksi
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              //-a(href='#' class='dropdown-toggle navbar-custom' data-toggle='dropdown') Services
              a(href='#' data-toggle='dropdown') Services
                b.caret
              ul.dropdown-menu
                li
                  a(href='/') Home
                if user!=null
                  li
                    a(id='lokoutti', href='/Logout') Logout
                  li
                    a(href='/pwdEdit') Change pwd
                else
                  li
                    a(id='loginni', href='/login') Login
                  li
                    a(href='/signup') Signup
            li.dropdown
              a(href='#' data-toggle='dropdown') Broadenings
                b.caret
              ul.dropdown-menu
                li
                  a(href='/broadgeneral') General remarks
                li
                  a(href='/inhomogen') Inhomogeneos details
                li
                  a(href='/homogen') Homogeneous details
                li
                  a(href='/SpectralModel' class='huuhaa-text') Spectral modelling
            li.dropdown
              a(href='#' id='userN' data-toggle='dropdown') No login
                b.caret
              ul.dropdown-menu
                li
                  a(id='lokoutti2', href='/Logout') Logout
        //-gets messages from req.flash set in app.js
    if messages
      div.container
        if messages && messages.error
          div.alert.alert-danger
            div= messages.error
        if messages && messages.info
          div.alert.alert-info
            div= messages.info
        if messages && messages.success
          div.alert.alert-success
            div= messages.success
        //h2= title
        //-p
        //-if user
          b #{user.username}
          | : huu haa!
        //-else
          b No login user
          //-| Used open source and MIT-licenced software components can be found in the lists below. Please notice also their composers through the included links.
        //h3 Motivation and Purpose:

        //-lisätään jonkun valikon HTML5 sivuista:
        //-sisennys määrää marginaalin leveyden
        block levenee

  style(type = "text/css").
    body {
      padding-top: 25px;
      font-family: Verdana;
      font-size: 13px;
      background-color: #eee;
    }

    /*tekee kapean näkymän nappulan oranssiksi*/
    .navbar-toggle, .icon-bar {
      border: 1px solid orange;
    }

    .navbar-inverse {
      color: darkred;
      background-color: lavender;
      font-weight: bold;
      font-size: 14px;
      color: white;
    }

    .navbar-fixed-top {
      min-height: 25px;
    }

    .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 25px;
    }

  script(type='text/javascript').
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {autoNumber: "AMS"},
        tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
      }
    });

    var tokenee = window.sessionStorage.getItem('RTFtoken');
    var userLuser = window.sessionStorage.getItem('RTFuser');
    if (userLuser == null || userLuser == 'No login' || userLuser == 'No Login') {
      $('#userN').text('No login');
      $("#lokoutti2").css('display', 'none');
    } else {
      $('#userN').text('User: ' + userLuser);
      $("#lokoutti2").css('display', 'inline');
    }
    $('#lokoutti, #lokoutti2').click(function () {
      window.sessionStorage.setItem('RTFuser', 'No login');
      window.sessionStorage.setItem('RTFtoken', null);
      $('#userN').text('No login');
      $("#lokoutti2").css('display', 'none');
      //class="disabled"
    });
