extends layout

block content
  h3= title
  p
    if user
      b #{user.username}
      | :
      br
      | Used open source and MIT-licenced software components can be found in the lists below. Please notice also their composers through the included links.
    else
      | Used open source and MIT-licenced software components can be found in the lists below. Please notice also their composers through the included links.
    br
    h3 Server side components:
    -Node_urli="https://en.wikipedia.org/wiki/Node.js"
    a(href="#{Node_urli}" target="_blank") Node.js
    |    with modules:
    -Express_urli="http://expressjs.com/"
    a(href="#{Express_urli}" target="_blank")   Express
    | ,
    -path_urli="https://nodejs.org/api/path.html"
    a(href="#{path_urli}" target="_blank")   path
    | ,
    -favicon_urli="https://github.com/expressjs/serve-favicon"
    a(href="#{favicon_urli}" target="_blank")   serve-favicon
    | ,
    -morgan_urli="https://github.com/expressjs/morgan"
    a(href="#{morgan_urli}" target="_blank")   morgan
    | ,
    -cookie_urli="https://github.com/expressjs/cookie-parser"
    a(href="#{cookie_urli}" target="_blank")   cookie-parser
    | ,
    -body_urli="https://github.com/expressjs/body-parser"
    a(href="#{body_urli}" target="_blank")   body-parser
    | ,
    -Mongoose_urli="http://mongoosejs.com/"
    a(href="#{Mongoose_urli}" target="_blank")   Mongoose
    | ,
    -nodemailer_urli="https://github.com/andris9/Nodemailer"
    a(href="#{nodemailer_urli}" target="_blank")   nodemailer
    | ,
    -passport_urli="http://passportjs.org/"
    a(href="#{passport_urli}" target="_blank")   passport
    | ,
    -bcrypt_urli="https://www.npmjs.com/package/bcrypt-nodejs"
    a(href="#{bcrypt_urli}" target="_blank")   bcrypt-nodejs
    | ,
    -async_urli="https://github.com/caolan/async"
    a(href="#{async_urli}" target="_blank")   async
    | ,
    -flash_urli="https://www.npmjs.com/package/express-flash"
    a(href="#{flash_urli}" target="_blank")   express-flash
    | ,
    -jwt_urli="https://www.npmjs.com/package/jwt-simple"
    a(href="#{jwt_urli}" target="_blank")   jwt-simple
    | ,
    -moment_urli="https://www.npmjs.com/package/moment"
    a(href="#{moment_urli}" target="_blank")   moment
    | ,
    -session_urli="https://github.com/expressjs/session"
    a(href="#{session_urli}" target="_blank")   express-session
    | ,
    -request_urli="https://www.npmjs.com/package/request-ip"
    a(href="#{request_urli}" target="_blank")   request-ip
    | ,
    br
    h3 Browser side components:
    -bootstrap_urli="http://getbootstrap.com/"
    a(href="#{bootstrap_urli}" target="_blank")   bootstrap
    | ,
    -jquery_urli="https://jquery.com/"
    a(href="#{jquery_urli}" target="_blank")   jquery
    | ,
    -jqvalidate_urli="http://jqueryvalidation.org/"
    a(href="#{jqvalidate_urli}" target="_blank")   jquery.validate
    | ,
    -jqnotifybar_urli="https://github.com/dknight/jQuery-Notify-bar/"
    a(href="#{jqnotifybar_urli}" target="_blank")   jquery.notifyBar
    | ,
    -jqeditable_urli="http://www.appelsiini.net/projects/jeditable"
    a(href="#{jqeditable_urli}" target="_blank")   jquery.jeditable
    | ,
    -jqflot_urli="http://www.flotcharts.org/"
    a(href="#{jqflot_urli}" target="_blank")   jquery.flot
    | ,
    -jqdatatables_urli="https://www.datatables.net/"
    a(href="#{jqdatatables_urli}" target="_blank")   jquery.dataTables
    | ,
    -jstree_urli="https://www.jstree.com/"
    a(href="#{jstree_urli}" target="_blank")   jquery.jstree
    | ,
    -mathcompl_urli="https://github.com/dankogai/js-math-complex"
    a(href="#{mathcompl_urli}" target="_blank")   math-complex
    | ,
    -dsp_urli="https://github.com/corbanbrook/dsp.js/"
    a(href="#{dsp_urli}" target="_blank")   dsp.js (FFT package)
    | ,
    -mathjaX_urli="https://www.mathjax.org/"
    a(href="#{mathjaX_urli}" target="_blank")   mathJax
    | ,
    br
    br
    br
    -another_url="http://www.javaworld.com/article/2079190/scripting-jvm-languages/6-things-you-should-know-about-node-js.html"
    a(href="#{another_url}" target="_blank")  More about Node.js

//-script(type='text/javascript').
