extends layout.pug
block content
  h1= title
  p
    if user
      b(id='indUser') #{user.username}
      |  : Welcome to Rock.Phys.
      | #{token}
    else
      | Welcome to Rock.Phys.
    br
    h2 Summary
    | This is a noncommercial effort on
    //- link to cloud computing on new browser tab
    -cloud_url="https://en.wikipedia.org/wiki/Cloud_computing"
    a(href="#{cloud_url}" target="_blank")      cloud storage and web browser based programming
    |  in javascript targeting technical and scientific computing purposes.
    | During coding, a strong positive opinion grew in favor of this concept. All calculation and simulation tasks
    | were easily accomplished using javascript inside the web browser making it a very tempting alternativity,
    | where no program setup or installation is needed on the client's equipment.
    br
    | For more details check menu item:
    -cloud_url2="/aboutti"
    a(href="#{cloud_url2}")    info/about this site .
    h2 Login or not login?
    | The storage space for user files and messages is limited on the server and to avoid abuse, it
    | is reserved only for logged in users. However, the email address stored at signup is merely
    | applied for password recovery (in case you forget it). Email addresses will not be sold or used to pollute
    | with commercial messages. If you want to be sure, and don't need the password recovery option,
    | you can signup with a fake address. All user password will be hashed before saving and without
    | a true email address there is no easy way to recover them on the server side. For space saving, passive
    | data will be regularly removed from the server.

  script(type='text/javascript').

