extends layout
block content
  h1= title
  p
    if user
      b(id='indUser') #{user.username}
      |  : Welcome to Rock.Phys.
      | #{token}
    else
      | Welcome to Rock.Phys.
    br
    h2 Summary
    | This is a noncommercial effort to
    //- link to cloud computing on new browser tab
    -cloud_url="https://en.wikipedia.org/wiki/Cloud_computing"
    a(href="#{cloud_url}" target="_blank")      cloud storage and web browser based programming
    |  in javascript for technical and scientific computing purposes.
    | During creation, a strong positive attitude grew for this concept. All calculation and simulation tasks
    | could easily be achieved with javascript inside the web browser. This is very tempting possibility, while no
    | program setup files need to be installed or updated on client's equipment.
    br
    | For more details check menu item:
    -cloud_url2="/aboutti"
    a(href="#{cloud_url2}")    info/about this site .
    h2 Login or not login?
    | The cloud based storage space for user files and messages is limited. In order to avoid abuse, it
    | is reserved only for logged in users. The email address required
    | in signup is merely for password recovery (in case you forget it). Email addresses will not be sold or used to pollute
    | with commercial messages. If you want to be sure, and do not need the password recovery option, you can signup with
    | an imaginary address. During signup, user password will be hashed before saving and without a true email
    | address there is no easy way to recover it from the server side. All passive login data will be regularly deleted from
    | the server.

  script(type='text/javascript').

