doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  block scripts
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
  body
    //-.navbar.navbar-static-top(role='navigation')
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            //-tehdään neljä päällekkäistä viivaa kun nav-bar menee liian kapeaksi
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //-a.navbar-brand(href='/') Project name
        .collapse.navbar-collapse
          ul.nav.navbar-nav  
            li(id='hoiMenu').dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Services
                b.caret
              ul.dropdown-menu
                li
                  a(href='/') Home
                  //-to show the username:
                  //-if user
                      use: #{user}
                  //-if user!=null && user!='No login'
                li
                  a(id='lokoutti', href='/Logout') Logout
                li
                  a(id='pwdchangi', href='/pwdEdit') Change pwd
                  //-else
                li
                  a(id='loginni', href='/login') Login
                li
                  a(id='signuppi', href='/signup') Signup
                if user
                  if user.username=='Publ'
                    li
                      a(id='admin', href='/admin') Admin
            li.dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Projects
                b.caret 
              ul.dropdown-menu  
                li
                  a(href='/refletrans') Reflectance and transmittance of thin films
                li
                  a(href='/broadmod') Spectral broadening in light emitting diodes
                //-li
                  a(href='/GasFlo') Gas flow in circular pipes (under construction)
                //-li
                  a(href='/tabX') Testing document ready function
            li.dropdown
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Info
                b.caret
              ul.dropdown-menu
                li
                  a(href='/contrbs') Acknowledgements
                li
                  a(href='/custmsgs') Comments and Messages
                li
                  a(href='/aboutti') About this site
            li
              a(href='#' id='userN' class='dropdown-toggle' data-toggle='dropdown') User:
                b.caret
              ul.dropdown-menu
                li
                  a(id='lokoutti2', href='/Logout') Logout
          //-a.navbar-brand(href='/') Projects
        //-gets messages from req.flash set in app.js
    if messages
      .container
        if messages && messages.error
          .alert.alert-danger
            div= messages.error
        if messages && messages.info
          .alert.alert-info
            div= messages.info
        if messages && messages.success
          .alert.alert-success
            div= messages.success
        block content
          //-block content määritellään index.pug, login.pug, signup.pug, pwdEdit.pug, forgot.pug
          //-sivuilta joille nämä asetukset periytyvät
  style(type = "text/css").
    body {
      /*padding-top: 25px;*/
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-family: Verdana;
      font-size: 13px;
      background-color: #eee;
    }

  script
    include layout.min.js
